{% extends 'base.html' %}

{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="static/css/about.css">
</head>
  <!-- Hero Section -->
<!-- <section class="hero">
  <h1>About Us</h1>
  <p>Apex Consultancy Services specializes in seamless admission solutions for B.Tech, BBA, MBA, and MBBS programs. We ensure guaranteed admissions with ease and professionalism.</p>
</section> -->

<!-- Mission Section -->
<section class="mission">
    <h2>Our Mission</h2>
    <p>
      Empowering students with opportunities to shape their future.
    </p>
</section>

<!-- Call to Action -->
<section class="cta">
    <h2>Ready to take the next step?</h2>
    <a href="/contact" class="cta-btn">Contact Us</a>
</section>
{% endblock %}